# Virtual environment
.venv/

# Generated documents
*.odt
*.pdf

# Data files
*.csv

# Trained models
*.joblib

# Credentials
operations-472416-5b97c6d1c77a.json

# Python cache
__pycache__/
*.pyc

# Node modules
node_modules/